
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='styles/home.css')}}">
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    </head>
    <body>
        
        <div class = "content">
            <div class="box">
                <h2>Universitat Carlemany</h2>
                <h3>Arquitecturas Big Data</h3>
                <h4>Rafael Cañada Abolafia</h4>
            <br>
            <div class="resumen" style="background-color: #209c84; color: #f0f0f0; padding: 20px; border-radius: 10px; line-height: 1.6; font-size: 14px;font-family: Arial, sans-serif;">
            <p>En esta Aplicación en Flask tratamos de poner en práctica cómo gestionar grandes volúmenes de datos.</p>
            <p>Propone el uso de batching como estrategia clave de optimización, agrupando solicitudes en Redis antes de volcarlas en la base de datos SQL.</p>
            <p>Esto reduce la carga concurrente y mejora la eficiencia del sistema.</p>
            <p>Redis actúa como cola de procesamiento y sistema de caché de alta velocidad, almacenando temporalmente los datos.</p>
            <p>Celery permite procesar los lotes aplicando "trabajadores" para volcar los datos de forma asíncrona y escalable.</p>
            <p>Tenemos una base de datos PostgreSQL gestionada con Supabase, con dos tablas relacionadas: <strong>users</strong> y <strong>tracked_urls</strong>, de modo que podemos saber qué URLs introdujo cada usuario.</p>
            <p>Cada minuto, los trabajadores Celeris recogen los datos de Redis para volcarlos en PostgreSQL, y a la vez extraen los valores almacenados siguiendo una pila FIFO.</p>
            <p>Combinado con el escalado vertical, mejora el rendimiento y la resiliencia, permitiendo construir sistemas robustos y eficientes en entornos con gran demanda de consultas.</p>
            <p>Cuando el usuario inicia sesión, puede ver las URLs que ha añadido. Si agrega una URL nueva, esta se almacenará temporalmente en la caché hasta que el trabajador la registre en la base de datos Postgres.</p>
            <p>Cada minuto se realiza un volcado de hasta 5 URLs en la base de datos; si hay más de 5, las restantes deberán esperar al siguiente ciclo.</p>
            </div>
        </div>

            
            <br>
            <br>
            <div class="box_intro">
                <h4>Bienvenid@, Introduce tu nombre por favor...</h4>
                
                <form id="urlForm" method="post" > 
 
                    <input type="text" name="url_input" id="url_input" placeholder="Introduce tu URL" class="url-Input" required="">

                    <br>
                    <button type="submit" id="checkUrlButton" class="submit-btn">Aceptar</button>
                </form>
            </div>
            <div>
                {% if url %}
                    {{nombre,idd}}
                {% endif %}
            </div>
        </div>
        
    </body>

</html>